@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('../fonts/ProximaNova-Light-webfont.eot');
    src: url('../fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light-webfont.woff') format('woff'), url('../fonts/ProximaNova-Light-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'), url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generic */
body {
    background: #475258;
    color: #1a1f22;
    font-family: 'proxima_nova_rgregular';
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima_nova_ltlight';
    font-weight: normal;
    line-height: 1.5em;
}

h1 {
    font-size: 30px;
    margin-bottom: 24px;
}

strong {
    font-family: 'proxima_nova_ltsemibold';
}

h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

h1:first-child, h2:first-child, p:first-child {
    margin-top: 0px;
}

h1:last-child, h2:last-child, p:last-child {
    margin-bottom: 0px;
}

p {
    line-height: 1.5em;
}

ul, ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    margin-top: 0.5em;
}

ul.icons, ul.icons li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.icons li {
    margin: 0.5em 1em 0em 1em;
}

ul.icons li:before {
    content: '';
    background-image: url('../images/bullet.png');
    background-repeat: no-repeat;
    background-position: 0px 8px;
    float: left;
    margin-left: -1em;
    width: 16px;
    height: 24px;
}

/** Main Template */
.frame {
    background: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.header .container {
    background: rgba(0, 0, 0, 0.5);
}

.header ul li {
    margin-top: 0px;
}

.header .nav li a {
    border-radius: 0px;
    font-family: 'proxima_nova_ltlight';
    font-size: 16px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px;
}

.header .nav li.active a, .header .nav li a:hover {
    background: transparent;
    color: white;
}

.header .nav-sections li a {
    text-transform: uppercase;
}

.header .nav-sections li.active a {
    background: rgba(0, 0, 0, 0.35);
    text-shadow: none;
}

.header .nav-pages li a {

}

.header .nav-pages li.active a {
    padding-bottom: 7px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.35);
}

.container .jumbotron {
    background: transparent;
    border-radius: 0px;
    padding: 0px;
    margin: 0px -15px 0px -15px;
}

.footer {
    padding: 30px 0px;
}

.footer .content * {
    margin: 0px;
}

.footer input {
    border: none;
    font-family: 'proxima_nova_ltlight';
    padding: 5px 15px;
}

.footer input[type="email"] {
    background: #e9eaeb;
    color: #9fa7b7;
    margin-left: 15px;
}

.footer input[type="submit"] {
    background: #008bcf;
    color: #e9eaeb;
}

.footer form, .footer .social {
    display: inline-block;
}

.copyright {
    margin-top: 15px;
}

.copyright * {
    color: #ffffff;
    font-size: 14px;
    font-family: 'proxima_nova_ltlight';
}

.copyright div {
    display: inline-block;
}

.copyright .nav li {
    margin-top: 0px;
}

.copyright .nav li a {
    padding: 0px 10px;
    border-radius: 0px;
}

.copyright .nav li.active a, .copyright .nav li a:hover {
    background: transparent;
    color: white;
    border-bottom: 2px solid white;
}

@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

@media (max-width: 1200px) {
    .footer h1 {
        font-size: 24px;
    }

    .footer input[type="email"] {
        width: 9em;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 20px 0px 20px 0px;
    }

    .header .nav {
        float: none !important;
    }

    .header .nav li a {
        padding-top: 10px;
    }

    .footer h1 {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .footer input[type="email"] {
        margin-left: 0px;
    }

    .footer input {
        font-size: 20px;
    }

    .copyright .social, .footer .social {
        display: none;
    }
}

/** Modules */
/* Top/Bottom Margin for Boxes */
.box-mg {
    padding-top: 40px;
    padding-bottom: 40px;
}

/** Regular Box */
.box {
    background: white;
    color: #1a1f22;
}

.box h1, .box h2 {
    color: #008bcf;
}

/* Dark Box */
.box-dark {
    background: #475258;
    color: #9fa7b7;
}

.box-dark h1, .box-dark h2 {
    color: #ffffff;
}

/** Light Box */
.box-light {
    background: #ecedee;
    color: #008bcf;
}

.box-light h1, .box-light h2 {
    color: #008bcf;
}

/** Colored Box */
.box-color {
    background: #ffed00;
    color: #1a1f22;
}

.box-color h1, .box-color h2 {
    color: #008bcf;
}

/** Colored Box Variant 2 */
.box-color2 {
    background: #008bcf;
    color: #ffffff;
}

.box-color2 h1, .box-color2 h2 {
    color: #ffffff;
}