@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('../fonts/ProximaNova-Light-webfont.eot');
    src: url('../fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light-webfont.woff') format('woff'), url('../fonts/ProximaNova-Light-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'), url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/ProximaNova-Sbold-webfont.eot');
    src: url('../fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'), url('../fonts/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generic */
body {
    background: #475258;
    color: #1a1f22;
    font-family: 'proxima_nova_rgregular';
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'proxima_nova_ltsemibold';
    font-weight: normal;
    line-height: 1.5em;
}

h1 {
    font-family: 'proxima_nova_ltlight';
    font-size: 36px;
    margin-bottom: 24px;
}

h1 strong {
    font-family: 'proxima_nova_ltsemibold';
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

h1:first-child, h2:first-child, p:first-child {
    margin-top: 0px;
}

h1:last-child, h2:last-child, p:last-child {
    margin-bottom: 0px;
}

p {
    line-height: 1.5em;
}

ul, ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    margin-top: 0.5em;
}

ul.icons, ul.icons li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.icons li {
    margin: 0.5em 1em 0em 1em;
}

ul.icons li:before {
    content: '';
    background-image: url('../images/bullet.png');
    background-repeat: no-repeat;
    background-position: 0px 8px;
    float: left;
    margin-left: -1em;
    width: 16px;
    height: 24px;
}

/** Main Template */
.frame {
    background: white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.header {
    padding: 50px 0px;
}

.header .nav li a {
    padding-top: 33px;
    padding-bottom: 0px;
    height: 100%;
    color: #1a1f22;
    text-transform: uppercase;
    font-family: 'proxima_nova_ltlight';
    font-size: 18px;
}

.header .nav li a:hover, .header .nav li.active a {
    background: transparent;
    color: #008bcf;
}

.container .jumbotron {
    background: transparent;
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}

.footer {
    padding: 30px 0px;
}

.footer .content * {
    margin: 0px;
}

.footer input {
    border: none;
    font-family: 'proxima_nova_ltlight';
    padding: 5px 15px;
}

.footer input[type="email"] {
    background: #e9eaeb;
    color: #9fa7b7;
}

.footer input[type="submit"] {
    background: #008bcf;
    color: #e9eaeb;
}

.footer form, .footer .social {
    margin-left: 15px;
    display: inline-block;
}

.copyright {
    margin-top: 15px;
}

.copyright * {
    color: #ffffff;
    font-size: 14px;
}

.copyright div {
    display: inline-block;
}

@media (min-width: 1280px) {
    .container {
        width: 1280px;
        padding: 0px;
    }
}

/** Modules */
/* Top/Bottom Margin for Boxes */
.box-mg {
    padding: 40px 0px;
}

/** Regular Box */
.box {
    background: white;
    color: #1a1f22;
}

.box h1, .box h2 {
    color: #008bcf;
}

/* Dark Box */
.box-dark {
    background: #475258;
    color: #9fa7b7;
}

.box-dark h1, .box-dark h2 {
    color: #ffffff;
}

/** Light Box */
.box-light {
    background: #ecedee;
    color: #008bcf;
}

.box-light h1, .box-light h2 {
    color: #008bcf;
}

/** Colored Box */
.box-color {
    background: #ffed00;
    color: #1a1f22;
}

.box-color h1, .box-color h2 {
    color: #008bcf;
}

/** Colored Box Variant 2 */
.box-color2 {
    background: #008bcf;
    color: #ffffff;
}

.box-color2 h1, .box-color2 h2 {
    color: #ffffff;
}