<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google-site-verification" content="yBTCpc7qO6QDP3ai8gNdo9iE0WSDRGZkFio19Vv99Z4" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/stylesheets/styles.css">
   <link rel="icon" href="/resources/images/favicon.ico" type="image/png" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Quasado&nbsp;&ndash;&nbsp;{{ page.title }}</title>
</head>
<body>

<div class="container frame">
    <div class="row header">
        <div class="col-md-4 col-md-offset-2">
            <a href="/" title="Go to Home">
                <img class="img-responsive" src="/resources/images/logo-header.png">
            </a>
        </div>
        <div class="col-md-4">
            <ul class="nav nav-pills pull-right" style="height:100%">
                {% for section in site.sections %}
                <li {% if page.section == section.key %}class='active'{% endif %}><a href='/{{ section.key }}/'>{{ section.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if page.jumbotron %}
    <div class="jumbotron">
        {{ page.jumbotron }}
    </div>
    {% endif %}
    <div class="content">
        {{ content }}
    </div>
    <div class="row footer">
        <div class="col-md-6 col-md-offset-2">
            What's next? <strong>Get fresh news</strong>
            <input placeholder="Newsletter Signup">
            <button>Signup</button>
        </div>
        <div class="col-md-4">
            <a href="http://www.facebook.com/quasado" target="_blank"><img src="/resources/images/icon_facebook.png"></a>
            <a href="http://www.twitter.com/quasado" target="_blank"><img src="/resources/images/icon_twitter.png"></a>
            <a href="https://www.youtube.com/channel/UCYx4QEhlf449X_5G5OUK-qw" target="_blank"><img src="/resources/images/icon_youtube.png"></a>
        </div>
    </div>
</div>
<div class="container copyright">&copy; 2014 Quasado e.K. | <a href="/impress">Impress</a></div>



<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl."
            : "http://www.");
    document
            .write(unescape("%3Cscript src='"
                    + gaJsHost
                    + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-33591715-3");
        pageTracker._trackPageview();
    } catch (err) {
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>