/** Site */
.gravit-jumbotron {
    position: relative;
}

.gravit-jumbotron > div {
    position: absolute;
    left: 850px;
    top: 325px;
    color: #e30061;
    font-family: 'proxima_nova_ltlight';
    text-transform: uppercase;
}

.screenshoot-slider {
    position: relative;
    margin-left: 30px;
    width: 460px;
    height: 390px;
    overflow: hidden;
    background: url('../images/screenshot_slider_display.png');
}

.screenshoot-slider .viewport {
    position: absolute;
    left: 17px;
    top: 17px;
    width: 424px;
    height: 240px;
    background: url('../images/screenshoots/screenshoot_small_01.png');
}

.screenshoot-slider .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/screenshot_slider_reflection.png');
}

.screenshoot-slider .bullets {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/screenshot_slider_bullets_normal.png');
    display: none;
}

.feature > .text {
    text-align: center;
    margin-top: 25px;
}

/** Overwrites */
.box h1, .box h2 {
    color: #e30061;
}

/** Light Box */
.box-light h1 {
    color: #e30061;
}
.box-light h2 {
    color: #475258;
}

/** Colored Box */
.box-color {
    background: #d5d714;
    color: #1a1f22;
}

.box-color h1, .box-color h2 {
    color: #e30061;
}